---
layout: default
---

<article class="post">
  <header>
    <div class="header-small">
      <a href="{{ site.url }}{{ site.baseurl }}">{{ site.title | escape }}</a>
    </div>

    <div class="page-title">{{ page.title | escape }}</div>

    <span class="page-date">
      <time>{{ page.date | date_to_string }}</time>
    </span>
  </header>

  <div class="page-content">
    {{ content }}

    {% if page.tags.size > 0 %}
    <div class="page-tags">
      Tagged as
      {% for tag in page.tags %}
      <span class="page-tags-item">
        {{ tag }}{% unless forloop.last %}, {% endunless %}
      </span>
      {% endfor %}
    </div>
    {% endif %}

    <div id="commento"></div>
    <script src="https://cdn.commento.io/js/commento.js"></script>
  </div>
</article>
