---
layout: default
---

<article class="post">
  <header>
    <div class="header-nav">
      <a href="{{ site.url }}{{ site.baseurl }}">Home</a>
    {% for nav in site.nav %}
      <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
    {% endfor %}
    </div>

    <div class="page-title">{{ page.title }}</div>

    <span class="page-date">
      <time>{{ page.date | date_to_string }}</time>
    </span>
  </header>

  <div class="page-content">
    {{ content }}

    {% if page.tags.size > 0 %}
    <div class="page-tags">
      Tagged as
      {% for tag in page.tags %}
      <span class="page-tags-item">
        {{ tag }}{% unless forloop.last %}, {% endunless %}
      </span>
      {% endfor %}
    </div>
    {% endif %}
    <br/>
    <br/>

    {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
    {% endif %}
                            
  </div>
</article>
